#calcBody{
    border: 3px solid black;
    border-radius: 2%;
    height: 100%;
    width: 60%;
}
#calcScreen{
    display: flex;
    height: 20%;
    width: 100%;
    font-size: 50px;
    justify-content: end;
    border: 1px solid grey;
    border-radius: 2%;
}
.top-row, .third-row, .second-row, .first-row, .bottom-row{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}
#btnReset, #btnDel, #btn7, #btn8, #btn9, #btnDiv, #btn4, #btn5, #btn6, #btnMulti,
#btn1, #btn2, #btn3, #btnSub, #btn0, #btnDeci, #btnEqual, #btnAdd{
    font-size: 30px;
    width: 100%;
}

