#calcBody{
    border: 3px solid black;
    border-radius: 2%;
    height: 100%;
    width: 60%;
}
#calcScreen{
    display: flex;
    height: 20%;
    width: 100%;
    font-size: 50px;
    justify-content: end;
    border: 1px solid grey;
    border-radius: 2%;
}
.top-row{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}
#btnReset, #btnDel{
    font-size: 30px;
    width: 100%;
}
.third-row{
    display: flex;
    width: 100%;
    height: 20%;
}
#btn7, #btn8, #btn9, #btnDiv {
    font-size: 30px;
    width: 50%;
}
.second-row{
    display: flex;
    width: 100%;
    height: 20%;
}
#btn4, #btn5, #btn6, #btnMulti {
    font-size: 30px;
    width: 50%;
}
.first-row{
    display: flex;
    width: 100%;
    height: 20%;
}
#btn1, #btn2, #btn3, #btnSub {
    font-size: 30px;
    width: 50%;
}
.bottom-row{
    display: flex;
    width: 100%;
    height: 20%;
}
#btn0, #btnDeci, #btnEqual, #btnAdd{
    font-size: 30px;
    width: 50%;
}
